.container {
  z-index: -9;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.smallcontainer {
  width: 100%;
  height: 100vh;
  padding-top: rem;
}

.heading {
  color: #fff;
  padding-top: 4rem;
  text-align: center;
}

.heading > h2 {
  margin: 0;
  background-color: #2e2828;
}

.userdata {
  display: flex;
  height: 85.7vh;
  padding: 0 5rem;
}

.img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blankcontent {
  z-index: -1;
  right: 60px;
  width: 15rem;
  bottom: 50px;
  height: 15rem;
  position: relative;
  background-color: #2e2828;
}

.img > img {
  top: 50px;
  left: 60px;
  width: 15rem;
  height: 15rem;
  position: relative;
  border: 1px solid #2e2828;
}

.userdetails {
  width: 50%;
  display: flex;
  padding: 5rem 0;
  color: #2e2828;
  margin-left: 5rem;
  align-items: center;
  flex-direction: column;
}

.buttonGroups {
  width: 100%;
}

.aboutbutton {
  padding: 10px;
  margin-right: 20px;
  border-radius: 15px;
  text-transform: uppercase;
}

.aboutbutton:hover {
  color: red;
  cursor: pointer;
  background-color: #362626;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

@media only screen and (max-width: 865px) {
  .blankcontent {
    z-index: -1;
    right: 2.5rem;
    width: 10rem;
    bottom: 3rem;
    height: 10rem;
    position: relative;
    background-color: #2e2828;
  }

  .img > img {
    top: 1rem;
    left: 3rem;
    width: 10rem;
    height: 10rem;
    position: relative;
    border: 1px solid #2e2828;
  }

  .userdetails {
    height: 0vh;
    width: 100%;
    display: flex;
    padding: 0rem 0;
    color: #2e2828;
    margin-top: 8rem;
    margin-left: 0rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .header {
    margin-top: 5rem;
  }

  .buttonGroups {
    width: 100%;
    height: 10rem;
    display: flex;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 665px) {
  .blankcontent {
    width: 8rem;
    z-index: -1;
    bottom: 2rem;
    height: 8rem;
    right: 2.5rem;
    position: relative;
    background-color: #2e2828;
  }

  .img > img {
    top: 1rem;
    left: 2rem;
    width: 8rem;
    height: 8rem;
    position: relative;
    border: 1px solid #2e2828;
  }

  .userdetails {
    height: 0vh;
    width: 100%;
    display: flex;
    padding: 2rem 0;
    color: #2e2828;
    margin-top: 8rem;
    margin-left: 0rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .header {
    margin-top: 15px;
  }

  .userdetails > p {
    margin: 5px 0;
  }

  .buttonGroups {
    width: 100%;
    height: 10rem;
    display: flex;
  }

  .button28 {
    padding: 5px 5px;
  }
}

@media only screen and (max-width: 600px) {
  .smallcontainer {
    height: auto;
  }

  .userdata {
    height: auto;
    padding: 0 0;
    display: flex;
    margin-top: 45px;
    align-items: center;
    padding-bottom: 180px;
    flex-direction: column;
    justify-content: center;
  }

  .header {
    display: inline-block;
  }

  .heading > h2 {
    font-size: 2.5rem;
  }

  .userdetails {
    font-size: 20px;
  }

  .userdetails>p{
    padding: 0 30px;
  }

  .img {
    width: 100%;
    height: 40vw;
  }

  .blankcontent {
    z-index: -1;
    right: 2rem;

    bottom: 2rem;
    height: 20vw;
    position: relative;
    background-color: #2e2828;
  }

  .img > img {
    top: 1rem;
    left: 2rem;

    height: 20vw;
    position: relative;
    border: 1px solid #2e2828;
  }

  .buttonGroups {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .aboutbutton {
    font-size: 1rem;
  }

  .userdetails > p {
    margin: 0;
  }

  .buttonGroups {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
